.my-card-header:link,
.my-card-header:visited {
    color: #5e5e5e!important;
    font-weight: 600;
    font-size: 20px;
}

.card-img-top {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}