.container-fluid {
  padding-top: 8rem;
  background: linear-gradient(to bottom right, #e9ecef 0%, #e9ecef 60%, #6bd098 40%, #6bd098 100%);
  background-attachment: fixed;
} 

.container-fluid .img-fluid {
  margin: 30px 0;
  box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
}

h2 {
  margin-bottom: 30px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #5e5e5e;
  content: " ";
  width: 100%;
  margin-top: 30px;
}

p {
  font-weight: 400;
}