<div class="container-fluid">
  <!-- Ueber Uns Text -->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-12 text-md-right">
          <h2>Über Mister M</h2>
        </div>
        <div class="col-12 text-justify">
          <p>Mister M ist das Vergleichsportal für Sportnahrung, Nahrungsergänzungsmittel, Diätprodukte und einen
            gesunden Lifestyle. Egal welches Ziel du verfolgst: Muskelaufbau, Diät oder Fettverlust, die richtige
            Ernährung spielt immer eine Schlüsselrolle. Unser Ziel ist es daher dir den Kauf von Fitness Nahrungsmitteln
            so einfach, wie möglich zu gestalten. Hierzu durchsuchen wir ein großes Sortiment an Herstellern, Shops
            sowie Testwebseiten, um dir neben einem vielfältigen Angebot auch professionelle Bewertungen zu bieten.
            Jedes der Produkte in unserem Sortiment ist vorab geprüft, sodass es garantiert in eine gesunde und
            fitnessgerechte Ernährung passt. Da wir keine eigenen Produkte verkaufen, können wir dir objektiv das für
            dich beste Produkt vorschlagen!</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="../../../../assets/img/dips.jpg" alt="">
    </div>
  </div>
  <!-- /. Ueber Uns Text -->

  <!-- Wer wir sind -->
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="../../../../assets/img/group.jpg" alt="">
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-12">
          <h2>Wer wir sind</h2>
        </div>
        <div class="col-12 text-justify pb-md-0 pb-3">
          <p>Wir, das Team von Mister M, besteht aus leidenschaftlichen Fitness-Enthusiasten und hat sich zum Ziel
            gesetzt, anderen Fitness Fanatikern, wie dir, zu helfen, Kaufentscheidungen für alle Arten von
            Kraftsportrelevanten Nahrungsmittel zu treffen. Das hat im Wesentlichen 3 einfache Gründe:</p>
          <ol class="pr-5">
            <li>Weil wir selber den Dschungel der verschiedenen Produkte und Hersteller nicht mehr durchschauen konnten.
            </li>
            <li>Weil wir das Gefühl haben, dass man den Bewertungen auf anderen großen E-Commerce Plattform nicht mehr
              trauen kann. Und</li>
            <li>Weil wir eine Plattform haben wollten, die den verschiedenen, komplexen Bedürfnissen der Kraftsportler
              gerecht werden kann.</li>
          </ol>
          <p>Unser Team besteht aus drei jungen Leuten in den Zwanzigern, die seit mehreren Jahren regelmäßig trainieren
            und dir das nötige Fachwissen im Bereich Fitness / Nahrungsergänzung bereitstellen. Wenn wir gerade nicht
            trainieren oder arbeiten, verbessern wir Mister M, indem wir neue Produkte und Vergleichswebseiten für dich
            integrieren und weitere nützliche Funktionen implementieren.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /. Wer wir sind -->

  <!-- Wie wir testen -->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-12 text-md-right">
          <h2>Wie wir vergleichen</h2>
        </div>
        <div class="col-12 text-justify">
          <p>Um das für dich perfekte Produkt zu finden durchsuchen wir vorab eine Reihe von verschiedenen Herstellern
            und Shops von Fitness Nahrungsmitteln sowie diverse Vergleichswebseiten, die die geführten Produkte objektiv
            getestet und bewertet haben. Wir testen daher die gelisteten Produkte nicht selbst, jedoch werden alle
            geführten Produkte von uns vorab auf fitness-tauglichkeit kontrolliert d.h., dass du sicher sein kannst,
            dass ein Produkt in unserem Sortiment in eine gesunde und fitnessgerechte Ernährung passt. Außerdem haben
            wir zu jedem Produkt verschiedene Merkmale, wie Preis, Nährwerte oder Allergene, gespeichert, sodass du ganz
            einfach das für dich passende Produkt finden kannst. </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="../../../../assets/img/whey.jpg" alt="">
    </div>
  </div>
  <!-- /. Wie wir testen -->
</div>