<div class="card h-100">
  <div class="img-container">
    <a [routerLink]="item.iid" class="img-link" href="#">
      <img class="card-img-top p-3 mx-auto mw-100" [src]="item.img" alt="">
    </a>
  </div>
  <div class="card-body">
    <p class="card-title">
      <a [routerLink]="item.iid" class="my-card-header" href="#">{{ shortenName(item.name) }}</a>
    </p>
    <p class="card-text"> {{ item.descriptionShort }}</p>
    <span class="d-inline-block"><strong>Ab&nbsp;</strong></span>
    <h5 class="d-inline-block ml-1">{{ item.minPrice.toFixed(2) }}€</h5>
    <a [routerLink]="item.iid" class="btn btn-sm btn-success btn-round float-right" href="#">Details</a>
  </div>
</div>