/***********************
* General HTML elements
***********************/
h1, 
h2 {
  margin-bottom: 30px;
}

h1::after,
h2::after {
  display: block;
  height: 1.3px;
  background-color: #5e5e5e;
  content: " ";
  width: 100%;
  margin-top: 30px;
}

/***********************
* Item detail
***********************/
.item-detail {
  background-color: #e9ecef;
}

/***********************
* Product main
***********************/
.product-main {
  padding-top: 8rem;
  position: relative;
  height: 100%;
  background-image: linear-gradient(#6bd098, #4cd087);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.product-main img {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

@media screen and (min-width: 992px) {
  .product-img {
    position: fixed;
    height: 65vh;
    background-color: #ccc;
    width: 100%;
    position: fixed;
    z-index: 99;
  }
}


/***********************
* Bg box
***********************/

.bg-box {
  box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.bg-box-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bg-box-bottom {
  box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/***********************
* Naehrwerte
***********************/

.naehrwerte img {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 500px;
}

/***********************
* Shops
***********************/

.shops {
  position: relative;
  height: 100%;
  background-image: linear-gradient(#6bd098, #4cd087);
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
}

.shops .row {
  padding-bottom: 1.2rem;
}

.shops img {
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
}

@media screen and (max-width: 776px) {
  .vk {
    font-weight: 300;
  }
}


/***********************
* Loading animation
***********************/
.fetching-container {
  height: 92vh;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}