h1, 
h2 {
  margin-bottom: 30px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

h1::after,
h2::after {
  display: block;
  height:1.1px;
  background-color: #5e5e5e;
  content: " ";
  width: 100%;
  margin-top: 30px;
}

.shops {
  background-color: #e9ecef;
}

.fetching-container {
  height: 92vh;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.naehrwerte img {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 500px;
}

.shops img {
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
}