/***********************
* General HTML elements
***********************/
h1, 
h2 {
  margin-bottom: 30px;
}

h1::after,
h2::after {
  display: block;
  height: 1.3px;
  background-color: #5e5e5e;
  content: " ";
  width: 100%;
  margin-top: 30px;
}


/***********************
* Product main
***********************/
.product-main {
  margin-top: 8rem;
}

.product-main img {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

/***********************
* Naehrwerte
***********************/

.naehrwerte img {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 500px;
}

/***********************
* Shops
***********************/

.shops {
  background-color: #e9ecef;
  overflow: hidden;
}

.shops img {
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
}

@media screen and (max-width: 776px) {
  .vk {
    font-weight: 300;
  }
}


/***********************
* Loading animation
***********************/
.fetching-container {
  height: 92vh;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}