.my-card-header:link,
.my-card-header:visited {
  color: #5e5e5e!important;
  font-weight: 600;
  font-size: 20px;
  border-radius: 0;
  box-shadow: none;
  padding: 0 0 0 0;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

.my-card-header:hover,
.my-card-header:active {
  border-bottom: 1px solid #5e5e5e;
}

.card-img-top {
  display: block;
  margin: 0 auto;
  height: auto; 
  width: auto; 
  max-width: 200px; 
  max-height: 200px;
}

.img-container {
  height: 200px;
}

.img-link {
  display: inline-block;
  width: 100%;
}