.w-90 {
  width: 90%!important;
}

.nav-reg {
  margin: 0 auto;
}

/*****************
* Media Queries
*****************/
@media screen and (max-width: 991px) {
  .burger-menu .navbar-collapse::after,
  .navbar-collapse::after {
    background-color: #fff;
  }
}