<nav class="navbar navbar-expand-lg fixed-top navbar-default" color-on-scroll="500">
    <div class="container-fluid">

        <div class="navbar-translate">
            <a class="navbar-brand" href="#" [routerLink]="['/']" routerLinkActive="router-link-active">Mister M</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>

        <!-- Navbar collapse -->
        <div class="navbar-collapse" id="navbarToggler">

            <!-- Navbar regular -->
            <app-nav-regular class="d-lg-inline-block d-none nav-reg">
            </app-nav-regular>
            <!-- /. Navbar regular -->

            <!-- Navbar responsive -->
            <app-nav-responsive class="d-lg-none d-inline-block w-90">
            </app-nav-responsive>
            <!-- /. Navbar responsive -->

            <!-- Register buttons -->
            <ul class="navbar-nav d-lg-flex d-none">
                <li class="nav-item">
                    <a href="#" class="btn btn-outline-success btn-round invisible">Anmelden</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-success btn-round invisible">Registrieren</a>
                </li>
            </ul>
            <!-- Register buttons -->

        </div>
        <!-- /. Navbar collapse -->

    </div>
</nav>