<!-- Ueber Uns Text -->
<div class="container-fluid ueber-uns pt-3">
  <div class="row">
    <div class="col-xl-10 offset-xl-1 text-center">
      <h2>Mister M – Das Vergleichsportal für deine Fitness Lebensmittel</h2>
    </div>
  </div>
  <div class="row mt-3 pb-5">
    <div class="col-xl-10 offset-xl-1 letter p-3">
      <img class="letter-img mr-4" src="../../assets/img/ceo.jpg" alt="">
      <p class="greeting">Hey,</p>
      <p class="text-justify">
        mein Name ist Daniel und ich betreibe selbst bereits seit Jahren begeistert Kraftsport. Wie du sicher
        weißt, ist neben dem eigentlichen Training die Ernährung der wichtigste Erfolgsfaktor für den Erfolg im Gym!
      </p>
      <p class="text-justify">
        Egal welches Ziel du verfolgst: Muskelaufbau, Diät und Fettverlust oder einfach nur gesünder zu leben, um eine
        Sache kommst du einfach nicht herum: Die passende Ernährung! Auch ich musste dies am Anfang meiner Fitness
        Karriere sehr schnell feststellen…</p>
      <p class="text-justify">
        Wahrscheinlich kennst du das Gefühl: Du hast dir ein bestimmtes Ziel gesetzt, z.B. für den Sommer in Topform zu
        kommen, und suchst nun die passenden Lebensmittel für dein Ziel. Aber du
        stellst sehr schnell fest, dass es eine schier unglaubliche Menge an verschiedenen Diätlebensmitteln gibt. Du
        stellst dir zwangsläufig die Frage: Wie um alles in der Welt soll ich entscheiden, welches Whey Protein das
        Beste ist? Oder brauche ich überhaupt Supplements für mein Ziel? Wenn du an dieser Stelle frustriert aufgeben
        hast kann ich dich nur zu gut verstehen…</p>
      <p>
        Genau aus diesem Grund habe ich Mister M entwickelt! Mister M soll dir helfen einen Überblick über die
        verschiedenen Lebensmittel zu gewinnen und das perfekte Produkt für dein Ziel auszuwählen.</p>
      <p class="text-justify">
        Klingt zu schön, um wahr zu sein? Probiere es doch einfach kostenlos aus! Wenn dir etwas fehlt oder dir sonst
        etwas auf dem Herzen liegt, melde dich doch einfach unter: <a
          href="mailto:support@misterm-vergleich.de">support@misterm-vergleich.de</a>. Da wir noch am Anfang
        stehen freuen wir uns über jedes Feedback, um Mister M noch besser auf die Wünsche unserer Community zuschneiden
        zu können.</p>
      <p>
        Viel Spaß mit Mister M wünscht,
        <br>
        <img class="d-block signature" src="../../assets/img/Signature.jpg" alt="Signature">
        Daniel von Mirbach (CEO Mister M)
      </p>
    </div>
  </div>
</div>
<!-- /. Ueber Uns Text -->