<!-- Sort options -->
<div class="container-fluid">
  <div class="filter-header row px-md-5 px-2">
    <div class="col-xl-6 col-12">
      <h1 *ngIf="category && !isFetching" class="my-4">{{ category.name }}</h1>
    </div>
    <div class="col-xl-6 col-8 mb-xl-0 mb-3 mt-xl-5">
      <form class="form-inline float-xl-right">
        <div class="form-group">
          <label for="sort">Sortieren nach</label>
          <select (change)="onSort($event)" class="form-control form-control-sm ml-sm-2" id="sort">
            <option id="popularity" selected>Beliebteste zuerst</option>
            <option id="priceAsc">Preis: Günstigster zuerst</option>
            <option id="priceDesc">Preis: Höchster zuerst</option>
            <!--<option id="proteinDesc">Nährwerte: Höchster Proteingehalt zuerst</option>
              <option id="calorieAsc">Nährwerte: Niedrigste Kalorien zuerst</option>-->
          </select>
        </div>
      </form>
    </div>
    <div class="col-4 mb-xl-0 mb-4 pb-2 d-xl-none d-inline-block d-flex">
      <button type="button" class="filter-btn btn btn-outline-success btn-round ml-auto mt-auto"
        (click)="onOpenResponsiveFilter()">Filter</button>
    </div>
  </div>
</div>
<!-- /. Sort options -->

<!-- Responsive filter panel -->
<div class="container-fluid">
  <div *ngIf="openResponsiveFilter" class="row mb-5 px-md-5 px-4 d-xl-none d-block">
    <app-filter-panel-responsive [subCategories]=subCategories [category]=category>
    </app-filter-panel-responsive>
  </div>
</div>
<!-- /. Responsive filter panel -->

<!-- Filter and sort options -->
<div class="container-fluid">
  <div class="row mb-5 px-md-5 px-2">

    <!-- Filter panel -->
    <div class="col-xl-2 big-box d-xl-inline-block d-none">
      <app-filter-panel *ngIf="category" [subCategories]=subCategories [category]=category>
      </app-filter-panel>
    </div>
    <!-- /. Filter panel -->

    <!-- Item cards -->
    <div class="col-xl-10 mb-3">
      <div class="row" *ngIf="items && !isFetching">
        <div *ngFor="let item of items" class="col-xl-3 col-md-4 col-sm-6 col-12 mb-3">
          <app-item-list-item class="mini-box" *ngIf="item" [item]=item></app-item-list-item>
        </div>
      </div>

      <div *ngIf="isFetching" class="lds-grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- /. Item cards -->

    <div *ngIf="items && !isFetching" class="col-12 justify-content-center">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" (pageChange)="onChangePage()"
        aria-label="Default pagination" class="d-flex justify-content-center"></ngb-pagination>
    </div>

  </div>
</div>
<!-- /. Filter and sort options -->