.container-fluid {
  background: linear-gradient(to bottom right, #e9ecef 0%, #e9ecef 50%, #6bd098 50%, #6bd098 100%);
}

.filter-header {
  margin-top: 8rem;
} 

.filter-btn {
  height: calc(1.8125rem + 2px);
  line-height: 10px;
}