.zurueck {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

.zurueck:hover {
  border-bottom: 1px solid #6bd098;
}