<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <div ngbDropdown #myDropProtein="ngbDropdown" class="d-inline-block">
      <button ngbDropdownAnchor class="btn btn btn-lg btn-neutral btn-round menubtn" id="proteine"
        (mouseenter)="handleMenuOpen($event, 'protein')" (mouseleave)="closeAll($event, 'protein')">Proteine</button>
      <div ngbDropdownMenu aria-labelledby="proteine" class="dropdown-primary" style="width: 600px;"
        (mouseleave)="handleMenuClose($event, 'protein')">
        <div class="row mb-3">
          <div class="col-xl-4 column">
            <h3><a href="#" [routerLink]="['/category', 'c2001']"
                class="submenu-header btn btn-neutral btn-round my-0">Milchproteine</a></h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c2002']" class="btn btn-neutral btn-round my-0">Whey
                  Protein</a></li>
              <li><a href="#" [routerLink]="['/category', 'c2003']" class="btn btn-neutral btn-round my-0">Casein
                  Protein</a></li>
              <li><a href="#" [routerLink]="['/category', 'c2004']" class="btn btn-neutral btn-round my-0">Protein
                  Mischungen</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-4 column">
            <h3><a href="#" [routerLink]="['/category', 'c2005']"
                class="submenu-header btn btn-neutral btn-round my-0">Pflanzliches
                Protein</a></h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c2006']"
                  class="btn btn-neutral btn-round my-0">Sojaprotein</a></li>
              <li><a href="#" [routerLink]="['/category', 'c2007']"
                  class="btn btn-neutral btn-round my-0">Reisprotein</a></li>
              <li><a href="#" [routerLink]="['/category', 'c2008']"
                  class="btn btn-neutral btn-round my-0">Erbsenprotein</a></li>
              <li><a href="#" [routerLink]="['/category', 'c2009']" class="btn btn-neutral btn-round my-0">Veganes
                  Protein</a></li>
              <li><a href="#" [routerLink]="['/category', 'c2010']" class="btn btn-neutral btn-round my-0">Superfood
                  Protein</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-4 column">
            <h3><a href="#" [routerLink]="['/category', 'c2011']"
                class="submenu-header btn btn-neutral btn-round my-0">Weitere Proteine</a>
            </h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c2012']" class="btn btn-neutral btn-round my-0">Eiprotein</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <div ngbDropdown #myDropSupp="ngbDropdown" class="d-inline-block">
      <button ngbDropdownAnchor class="btn btn btn-lg btn-neutral btn-round menubtn" id="supplements"
        (mouseenter)="handleMenuOpen($event, 'supp')" (mouseleave)="closeAll($event, 'supp')">Supplements</button>
      <div ngbDropdownMenu aria-labelledby="supplements" class="dropdown-primary" style="width: 800px;"
        (mouseleave)="handleMenuClose($event, 'supp')">
        <div class="row mr-6">
          <div class="col-xl-3 column">
            <h3><a href="#" [routerLink]="['/category', 'c3001']"
                class="submenu-header btn btn-neutral btn-round my-0">Aminosäuren</a></h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c3002']" class="btn btn-neutral btn-round my-0">BCAA</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3048']" class="btn btn-neutral btn-round my-0">Aminosäuren
                  Getränke</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3003']" class="btn btn-neutral btn-round my-0">Aminosäuren
                  Komplex</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3004']" class="btn btn-neutral btn-round my-0">Glutamin</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3005']" class="btn btn-neutral btn-round my-0">HMB</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3006']" class="btn btn-neutral btn-round my-0">Arginin</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3007']" class="btn btn-neutral btn-round my-0">AAKG</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3008']" class="btn btn-neutral btn-round my-0">Beta
                  Alanin</a></li>
            </ul>
          </div>
          <div class="col-xl-3 column">
            <h3><span>&nbsp;</span></h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c3009']" class="btn btn-neutral btn-round my-0">Citrullin</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3010']" class="btn btn-neutral btn-round my-0">Gaba</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3011']" class="btn btn-neutral btn-round my-0">Lysin</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3012']" class="btn btn-neutral btn-round my-0">Ornithin</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3013']" class="btn btn-neutral btn-round my-0">Taurin</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3014']" class="btn btn-neutral btn-round my-0">Tyrosin</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3015']" class="btn btn-neutral btn-round my-0">EAA</a></li>
            </ul>
          </div>
          <div class="col-xl-3 column">
            <h3><a href="#" [routerLink]="['/category', 'c3020']"
                class="submenu-header btn btn-neutral btn-round my-0">Vitalstoffe</a></h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c3021']" class="btn btn-neutral btn-round my-0">Vitamin B</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3022']" class="btn btn-neutral btn-round my-0">Vitamin C</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3023']" class="btn btn-neutral btn-round my-0">Vitamin D</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3024']" class="btn btn-neutral btn-round my-0">Vitamin E</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3025']"
                  class="btn btn-neutral btn-round my-0">Multivitamine</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3026']"
                  class="btn btn-neutral btn-round my-0">Mineralstoffe</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3027']" class="btn btn-neutral btn-round my-0">Zink</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3028']" class="btn btn-neutral btn-round my-0">Magnesium</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3029']" class="btn btn-neutral btn-round my-0">ZMA</a></li>
            </ul>
          </div>
          <div class="col-xl-3 column">
            <h3><span>&nbsp;</span></h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c3030']"
                  class="btn btn-neutral btn-round my-0">Antioxidantien</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3031']" class="btn btn-neutral btn-round my-0">Fischöl</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3032']" class="btn btn-neutral btn-round my-0">Omega-3</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3033']" class="btn btn-neutral btn-round my-0">MCT-Fette</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3034']"
                  class="btn btn-neutral btn-round my-0">Glucosamin</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3035']" class="btn btn-neutral btn-round my-0">Enzyme</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3036']"
                  class="btn btn-neutral btn-round my-0">Probiotika</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3037']"
                  class="btn btn-neutral btn-round my-0 text-left">Pflanzliche
                  <br>
                  Nahrungsergänzungsmittel</a></li>
            </ul>
          </div>
          <div class="col-xl-3 column">
            <h3><a href="#" [routerLink]="['/category', 'c3016']"
                class="submenu-header btn btn-neutral btn-round my-0">Pre-Workout</a></h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c3017']"
                  class="btn btn-neutral btn-round my-0">Trainingsbooster</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3018']" class="btn btn-neutral btn-round my-0">Energy
                  Drinks</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3019']" class="btn btn-neutral btn-round my-0">Koffein</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-3 column">
            <h3><a href="#" [routerLink]="['/category', 'c3043']"
                class="submenu-header btn btn-neutral btn-round my-0">Diätnahrung</a></h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c3044']" class="btn btn-neutral btn-round my-0">Fatburner</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3045']" class="btn btn-neutral btn-round my-0">Carnitin</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3046']" class="btn btn-neutral btn-round my-0">CLA</a></li>
            </ul>
          </div>
          <div class="col-xl-3 column mb-3">
            <h3><a href="#" [routerLink]="['/category', 'c3038']"
                class="submenu-header btn btn-neutral btn-round my-0">Masseaufbau</a></h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c3039']" class="btn btn-neutral btn-round my-0">Weight
                  Gainer</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3040']"
                  class="btn btn-neutral btn-round my-0">Kohlenhydratpulver</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c3041']"
                  class="btn btn-neutral btn-round my-0">Maltrodextrin</a></li>
              <li><a href="#" [routerLink]="['/category', 'c3042']" class="btn btn-neutral btn-round my-0">Dextrose</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-3 column mb-3">
            <h3><a href="#" [routerLink]="['/category', 'c3047']"
                class="submenu-header btn btn-neutral btn-round my-0">Creatin</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <div ngbDropdown #myDropFood="ngbDropdown" class="d-inline-block">
      <button ngbDropdownAnchor class="btn btn btn-lg btn-neutral btn-round menubtn" id="food"
        (mouseenter)="handleMenuOpen($event, 'food')" (mouseleave)="closeAll($event, 'food')">Food</button>
      <div ngbDropdownMenu aria-labelledby="food" class="dropdown-primary" style="width: 800px;"
        (mouseleave)="handleMenuClose($event, 'food')">
        <div class="row">
          <div class="col-xl-3 column">
            <h3><a href="#" [routerLink]="['/category', 'c4015']"
                class="submenu-header btn btn-neutral btn-round my-0">Alltägliche
                Lebensmittel</a></h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c4016']" class="btn btn-neutral btn-round my-0">Butter</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4017']"
                  class="btn btn-neutral btn-round my-0">Aufstriche</a></li>
              <li><a href="#" [routerLink]="['/category', 'c4018']" class="btn btn-neutral btn-round my-0">Fleisch</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4019']" class="btn btn-neutral btn-round my-0">Mealprep
                  Boxen</a></li>
              <li><a href="#" [routerLink]="['/category', 'c4020']" class="btn btn-neutral btn-round my-0">Gewürze &amp;
                  Saucen</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4021']" class="btn btn-neutral btn-round my-0">Tiefkühl</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4022']" class="btn btn-neutral btn-round my-0">Brot</a></li>
              <li><a href="#" [routerLink]="['/category', 'c4023']" class="btn btn-neutral btn-round my-0">Jerkey</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-3 column">
            <h3><span>&nbsp;</span></h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c4024']" class="btn btn-neutral btn-round my-0">Aromen und
                  Süßstoffe</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4025']"
                  class="btn btn-neutral btn-round my-0">Proteineis</a></li>
              <li><a href="#" [routerLink]="['/category', 'c4026']" class="btn btn-neutral btn-round my-0">Pizza &amp;
                  Pasta</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4027']" class="btn btn-neutral btn-round my-0">Syrup</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4028']" class="btn btn-neutral btn-round my-0">Speiseöle</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4029']" class="btn btn-neutral btn-round my-0">Getreide</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4020']" class="btn btn-neutral btn-round my-0">Pudding</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-3 column">
            <h3><a href="#" [routerLink]="['/category', 'c4001']"
                class="submenu-header btn btn-neutral btn-round my-0">Riegel &amp;
                Snacks</a></h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c4002']"
                  class="btn btn-neutral btn-round my-0">Proteinriegel</a></li>
              <li><a href="#" [routerLink]="['/category', 'c4003']" class="btn btn-neutral btn-round my-0">Chips</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4004']"
                  class="btn btn-neutral btn-round my-0">Schokolade</a></li>
              <li><a href="#" [routerLink]="['/category', 'c4005']"
                  class="btn btn-neutral btn-round my-0">Energieriegel</a></li>
              <li><a href="#" [routerLink]="['/category', 'c4006']" class="btn btn-neutral btn-round my-0">Cookies &amp;
                  Muffins</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4007']"
                  class="btn btn-neutral btn-round my-0">Müsliriegel</a></li>
              <li><a href="#" [routerLink]="['/category', 'c4008']"
                  class="btn btn-neutral btn-round my-0">Süßigkeiten</a></li>
            </ul>
          </div>
          <div class="col-xl-3 column">
            <h3><a href="#" [routerLink]="['/category', 'c4008']"
                class="submenu-header btn btn-neutral btn-round my-0">Superfoods</a>
            </h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c4010']" class="btn btn-neutral btn-round my-0">Chia</a></li>
              <li><a href="#" [routerLink]="['/category', 'c4011']" class="btn btn-neutral btn-round my-0">Spirulina</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4012']" class="btn btn-neutral btn-round my-0">Nüsse &amp;
                  Samen</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4013']" class="btn btn-neutral btn-round my-0">Beeren</a>
              </li>
              <li><a href="#" [routerLink]="['/category', 'c4014']" class="btn btn-neutral btn-round my-0">Bohnen</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-3 column">
            <h3><a href="#" [routerLink]="['/category', 'c4031']"
                class="submenu-header btn btn-neutral btn-round my-0">Backen</a>
            </h3>
            <ul class="submenu pl-1">
              <li><a href="#" [routerLink]="['/category', 'c4032']" class="btn btn-neutral btn-round my-0">Mehl</a></li>
              <li><a href="#" [routerLink]="['/category', 'c4033']"
                  class="btn btn-neutral btn-round my-0">Backmischungen</a></li>
              <li><a href="#" [routerLink]="['/category', 'c4034']" class="btn btn-neutral btn-round my-0">Eiklar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <div ngbDropdown #myDropGetraenke="ngbDropdown" class="d-inline-block">
      <button ngbDropdownAnchor class="btn btn btn-lg btn-neutral btn-round menubtn" id="getraenke"
        (mouseenter)="handleMenuOpen($event, 'getraenke')"
        (mouseleave)="closeAll($event, 'getraenke')">Getränke</button>
      <div ngbDropdownMenu aria-labelledby="getraenke" class="dropdown-primary"
        (mouseleave)="handleMenuClose($event, 'getraenke')">
        <a href="#" [routerLink]="['/category', 'c5001']"
          class="submenu-header btn btn-neutral btn-round my-2 mt-4">Protein Drinks</a>
        <a href="#" [routerLink]="['/category', 'c5002']"
          class="submenu-header btn btn-neutral btn-round my-2">Mahlzeitenersatz-Shakes</a>
        <a href="#" [routerLink]="['/category', 'c5003']"
          class="submenu-header btn btn-neutral btn-round my-2">Isotonische Getränke</a>
        <a href="#" [routerLink]="['/category', 'c5004']" class="submenu-header btn btn-neutral btn-round my-2">Ohne
          Kalorien</a>
        <a href="#" [routerLink]="['/category', 'c5005']" class="submenu-header btn btn-neutral btn-round my-2 mb-4">Tee
          &amp; Kaffee</a>
      </div>
    </div>
  </li>
</ul>