/**********************************
Buttons
***********************************/

.btn-neutral:link,
.btn-neutral:visited {
    text-decoration: none;
    border: 0;
    color: #9A9A9A!important;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.btn-neutral:hover,
.btn-neutral:active {
    color: #5e5e5e!important;
}

/************************************
Form groups
************************************/
.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text {
    padding: 1.5rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.form-control-round {
    border-radius: 200px;
}

/************************************
Margins
************************************/
.mr-6 {
    margin-right: 6rem!important;
}
.mr-7 {
    margin-right: 7rem!important;
}
.mr-8 {
    margin-right: 8rem!important;
}
.mr-9 {
    margin-right: 9rem!important;
}
.mr-10 {
    margin-right: 10rem!important;
}
.mt-8 {
    margin-top: 8rem!important;
}
.mt-9 {
    margin-top: 9rem!important;
}
.mt-10 {
    margin-top: 10rem!important;
}

/************************************
Select Form
************************************/
.form-control {
    border: 1px solid #DDDDDD!important;
}

/************************************
Card
************************************/
.card:hover {
    transform: translateY(0px)!important;
    -webkit-transform: translateY(0px)!important;
    -ms-transform: translateY(0px)!important;
    -moz-transform: translateY(0px)!important;
}