/**********************************
Buttons
***********************************/

.btn-neutral:link,
.btn-neutral:visited {
    text-decoration: none;
    border: 0;
    color: #9A9A9A!important;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.btn-neutral:hover,
.btn-neutral:active {
    color: #5e5e5e!important;
}

/************************************
Form groups
************************************/
.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text {
    padding: 1.5rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.form-control-round {
    border-radius: 200px;
}

/************************************
Margins
************************************/
.mr-6 {
    margin-right: 6rem!important;
}
.mr-7 {
    margin-right: 7rem!important;
}
.mr-8 {
    margin-right: 8rem!important;
}
.mr-9 {
    margin-right: 9rem!important;
}
.mr-10 {
    margin-right: 10rem!important;
}
.mt-8 {
    margin-top: 8rem!important;
}
.mt-9 {
    margin-top: 9rem!important;
}
.mt-10 {
    margin-top: 10rem!important;
}

/************************************
Select Form
************************************/
.form-control {
    border: 1px solid #DDDDDD!important;
}

/************************************
Card
************************************/
.card {
    border: 1px solid #DDDDDD!important;
}
.card:hover {
    transform: translateY(0px)!important;
    -webkit-transform: translateY(0px)!important;
    -ms-transform: translateY(0px)!important;
    -moz-transform: translateY(0px)!important;
}

/************************************
Horizontal line
************************************/
hr {
    border: 0.5px solid #66615b;
    border-color: #66615b;
}

/************************************
Loading spinner
************************************/

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #6bd098;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
  