  a {
    word-wrap: break-word;
    white-space: normal;
    padding-right: 0; 
  }

  .fa.fa-chevron-left {
    cursor: pointer;
    font-size: smaller;
  }
  
  .subheader {
    margin-left: 0.65rem;
  }