<!-- Jumbotron -->
<div class="jumbotron mb-0 pb-5">
  <div class="row jumbo-row pb-5">
    <div class="col-xl-9 mx-auto">
      <h1>Finde dein perfektes Fitness Nahrungsmittel!</h1>
      <p class="text-justify font-weight-bold mt-3">Mister M durchsucht für dich über 1000 verschiedene Shop Hersteller
        und
        findet
        garantiert das passende Fitness Produkt für dich und deine Bedürfnisse! Alle Produkte in unserem Sortiment
        haben den Anspruch für eine bewusste fitnessgerechte Ernährung geeignet zu sein.</p>
    </div>
    <div class="col-xl-9 mx-auto mt-5">
      <form>
        <div class="form-row">
          <div class="col-xl-8 col-lg-6 col-md-8 mb-2 mb-md-0">
            <input type="search" class="form-control form-control-round form-control-lg" placeholder="Ich suche...">
          </div>
          <div class="col-lg-2 col-md-3 col-12">
            <button type="submit" class="btn btn-lg btn-block btn-round btn-success">Suchen</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /. Jumbotron -->

<!-- Benefits -->
<div class="container-fluid">
  <div class="row bg-success text-white benefits-row">
    <div class="benefits-col col-lg-4 col-12 text-center mb-3">
      <h3>10.000 verschiedene Produkte</h3>
      <p class="d-none d-xl-block">Riesenauswahl an Fitnessprodukten</p>
    </div>
    <div class="benefits-col col-lg-4 col-12 text-center mb-3">
      <h3>1.000 verschiedene Hersteller</h3>
      <p class="d-none d-xl-block">Riesenauswahl an Herstellern</p>
    </div>
    <div class="benefits-col col-lg-4 col-12 text-center mb-3">
      <h3>1 Plattform</h3>
      <p class="d-none d-xl-block">Alles in einer Plattform</p>
    </div>
  </div>
</div>
<!-- /. Benefits -->

<!-- Beliebteste -->
<div class="container-fluid pt-3 mb-5">
  <div class="row">
    <div class="col-xl-12 text-center">
      <h2>Beliebteste</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xl-10 offset-xl-1">
      <div *ngIf="items && !isFetching" class="row">
        <div *ngFor="let item of items" class="col-lg-3 col-sm-6 col-12 mb-3">
          <app-item-card *ngIf="item" [item]=item></app-item-card>
        </div>
      </div>
      <div *ngIf="isFetching" class="lds-grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12 text-center">
      <a href="#" [routerLink]="['/category', 'c1001']" routerLinkActive="router-link-active"
        class="btn btn-lg btn-outline-success btn-round">Alle ansehen</a>
    </div>
  </div>
</div>
<!-- /. Beliebteste -->

<!-- Features -->
<div class="container-fluid features text-center">
  <div class="row">
    <div class="col-xl-10 offset-xl-1 text-center">
      <h2>Mister M – Das Vergleichsportal für deine Fitness Lebensmittel</h2>
    </div>
  </div>
  <div class="row">
    <p class="col-xl-10 offset-xl-1 text-justify">
      Mister M ist das Vergleichsportal für Fitness Lebensmittel. Es verbindet die Produktvielfalt von Amazon, die
      Transparenz und den Preisüberblick von Idealo und die Objektivität von Testseiten, wie Gannikus. Neben dem
      eigentlichen Training ist die Ernährung der wichtigste Erfolg im Kraftsport. Mittlerweile gibt es einen ganzen
      Urwald von verschiedenen Fitnessprodukten, die im Markt erhältlich sind. Wir von Mister M haben uns zum Ziel
      gesetzt das für dich perfekte Sportnahrungsmittel im Markt zu finden. Hierbei erleichtern wir die 3 Hauptschritte,
      die du auf dem Weg zu deinem Produkt durchläufst. 1. Bieten wir dir einen Überblick über die verschiedenen
      Produkte im Markt und bieten dir eine große Vielfalt an Filteroptionen, damit du garantiert das perfekte Produkt
      für deine Bedürfnisse findest. 2. Durchsuchen wir eine große Reihe von verschiedenen Shops und Herstellern, um den
      günstigsten Preis für dein Produkt zu finden. 3. Damit du dir beim Kauf auch wirklich sicher sein kannst, ob das
      gewählte Produkt auch wirklich das hält, was es verspricht, zeigt dir Mister M die Testberichte von diversen
      Testwebseiten von Sport Nahrungsmitteln an. Mister M verspricht dir außerdem, dass es dir keine eigenen Produkte
      verkaufen will, sondern garantiert das für dich beste Produkt vorschlägt. Jedes Produkt in unserem Sortiment ist
      zudem vorab geprüft, sodass es garantiert in eine Kraftsport-gerechte Ernährung passt.
    </p>
  </div>
  <div class="row mt-5 pb-5">
    <div class="col-lg-4 col-sm-6 col-12 mb-3 d-flex">
      <div class="feat-item mx-auto">
        <div class="d-flex item-icon d-flex">
          <i class="fa fa-binoculars text-success"></i>
        </div>
        <h3 class="font-weight-bold">Breiter Überblick</h3>
        <p class="lead mb-0">Bietet einen breiten Überblick über die verschiedenen Fitness Nahrungsmittel im Markt,
          bereits vorsortiert nach den relevantesten Kategorien</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 mb-3 d-flex">
      <div class="feat-item mx-auto">
        <div class="d-flex item-icon d-flex">
          <i class="fa fa-filter text-success"></i>
        </div>
        <h3 class="font-weight-bold">Kriterien Filtern</h3>
        <p class="lead mb-0">Erlaubt es dir das für dich passende Produkt zu finden, durch eine Vielzahl verschiedener
          Filteroptionen, wie z.B. Allergenfilter und Preisfilter</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 mb-3 d-flex">
      <div class="feat-item mx-auto" style="padding-bottom: 58px;">
        <div class="d-flex item-icon d-flex">
          <i class="fa fa-comments text-success"></i>
        </div>
        <h3 class="font-weight-bold">Professionelle Bewertungen</h3>
        <p class="lead mb-0">Durchsucht für dich verschiedene Vergleichsportale nach objektiven und professionellen
          Bewertungen</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 mb-3 d-flex">
      <div class="feat-item mx-auto">
        <div class="d-flex item-icon d-flex">
          <i class="fa fa-balance-scale text-success"></i>
        </div>
        <h3 class="font-weight-bold">Objektivität</h3>
        <p class="lead mb-0">Verkauft keine eigenen Produkte, da wir sonst nicht mehr objektiv und unvoreingenommen das
          für dich beste Produkt vorschlagen können</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 mb-3 d-flex">
      <div class="feat-item mx-auto">
        <div class="d-flex item-icon d-flex">
          <i class="fa fa-heart text-success"></i>
        </div>
        <h3 class="font-weight-bold">Fitness Relevanz</h3>
        <p class="lead mb-0">Alle empfohlenen Produkte im Sortiment, haben den Anspruch in eine Kraftsportler-gerechte
          Ernährung zu passen
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 mb-3 d-flex">
      <div class="feat-item mx-auto">
        <div class="d-flex item-icon d-flex">
          <i class="fa fa-thumbs-up text-success"></i>
        </div>
        <h3 class="font-weight-bold">Eine Plattform</h3>
        <p class="lead mb-0">Bietet dir die Auswahl von Artikeln, den Produktvergleich und
          die Suche nach führenden Herstellern in einer einzigen Plattform
        </p>
      </div>
    </div>
  </div>
  <!-- /. Features -->