/******************
* General HTML
******************/

h2 {
  margin-bottom: 30px;
}

p {
  font-weight: 400;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #6bd098;
  content: " ";
  width: 20%;
  margin: 0 auto;
  margin-top: 30px;
}

/******************
* Jumbotron
******************/

.jumbotron {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/jumbo-bg.jpg); 
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.jumbotron h1 {
  margin-left: -5px;
  overflow-wrap: break-word;
}

.jumbo-row {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 596px) {
  .jumbotron {
    padding: 4rem 2rem;
    height: 85vh;
  }
}

@media (max-width: 992px) {
  .jumbotron {
    background-position: right;
  }
}

/******************
* Benefits row
******************/

@media (min-width: 992px) {
  .benefits-row {
    height: 15vh;
    display: flex;
    align-items: center;
  }
}

/******************
* Features
******************/

.features {
  background: linear-gradient(to bottom right, #e9ecef 0%, #e9ecef 50%, #6bd098 50%, #6bd098 100%);
}

.features .feat-item {
  max-width: 20rem;
  background-color: #fff;
  padding: 4rem 2rem 4rem 2rem;
  border-radius: 5px;
  box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
}

.features .feat-item .item-icon {
  height: 5.5rem;
}

.features .feat-item .item-icon i {
  display: inline-block;
  width: 100%;
  font-size: 4.5em;
}

.features .feat-item .item-icon:hover i {
  font-size: 5em;
}