h2 {
  margin-bottom: 30px;
}

p {
  font-weight: 400;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #6bd098;
  content: " ";
  width: 20%;
  margin: 0 auto;
  margin-top: 30px;
}

.jumbotron {
  height: 85vh;
  background-image: url(../../assets/img/jumbotron.png); 
  background-size: cover;
  background-position: center;
}

.jumbotron h1 {
  margin-left: -5px;
}

.jumbo-row {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.benefits-row {
  height: 15vh;
  display: fekx;
  align-items: center;
}

.features {
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #6bd098 50%, #6bd098 100%);
}

.features .feat-item {
  max-width: 20rem;
  background-color: #e9ecef;
  padding: 4rem 2rem 4rem 2rem;
  border-radius: 5px;
  box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
}

.features .feat-item .item-icon {
  height: 5.5rem;
}

.features .feat-item .item-icon i {
  display: inline-block;
  width: 100%;
  font-size: 4.5em;
}

.features .feat-item .item-icon:hover i {
  font-size: 5em;
}