.jumbotron {
  height: 85vh;
}

.jumbo-row {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.benefits-row {
  height: 15vh;
  display: fekx;
  align-items: center;
}