<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a class="btn btn-neutral" href="#">Über uns</a></li>
                    <li><a class="btn btn-neutral" href="#">Haftungsausschuss</a></li>
                    <li><a class="btn btn-neutral" href="#">Datenschutz</a></li>
                    <li><a class="btn btn-neutral" href="#">Impressum</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Daniel von Mirbach - Mister M GmbH
                </span>
            </div>
        </div>
    </div>
</footer>