footer {
  background-color: #3e3e3e;
  color: #fff;
}

footer .btn {
  background-color: #3e3e3e;
  color: #fff;
}

li {
  list-style: none;
  display: inline-block;
}

@media screen and (min-width: 767px) {
  .footer .footer-nav, 
  .footer .credits {
    margin: 0 auto;
  }
}